# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# local env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editors
.DS_Store
.idea/
.vscode/

# local user uploads
public/uploads/*
!public/uploads/.gitkeep
